<div class="form-group row">
  <label class="col-form-label col-sm-2" for="id">ID</label>
  <div class="col-sm-8">
    <input readonly class="form-control" id="id" value="<%= model.id %>" />
  </div>
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-2" for="name">Name</label>
  <div class="col-sm-8">
    <input readonly class="form-control" id="name" value="<%= model.name %>" />
  </div>
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-2" for="email">Email</label>
  <div class="col-sm-8">
    <input readonly class="form-control" id="email" value="<%= model.email %>" />
  </div>
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-2" for="gameWin">GameWin</label>
  <div class="col-sm-8">
    <input readonly class="form-control" id="gameWin" value="<%= model.gameWin %>" />
  </div>
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-2" for="gameLost">GameLost</label>
  <div class="col-sm-8">
    <input readonly class="form-control" id="gameLost" value="<%= model.gameLost %>" />
  </div>
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-2" for="createdAt">Created At</label>
  <div class="col-sm-8">
    <input readonly class="form-control" id="createdAt" value="<%= model.createdAt %>" />
  </div>
</div>