<div class="form-group row">
  <label class="col-form-label col-sm-2" for="id">ID</label>
  <div class="col-sm-8">
    <input readonly class="form-control" id="id" value="<%= model.id %>" />
  </div>
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-2" for="mode">Mode</label>
  <div class="col-sm-8">
    <input readonly class="form-control" id="mode" value="<%= model.mode %>" />
  </div>
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-2" for="name">Name</label>
  <div class="col-sm-8">
    <input readonly class="form-control" id="name" value="<%= model.name %>" />
  </div>
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-2" for="currentPlayerId">CurrentPlayer_Id</label>
  <div class="col-sm-8">
    <input readonly class="form-control" id="currentPlayerId" value="<%= model.currentPlayerId %>" />
  </div>
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-2" for="status">Status</label>
  <div class="col-sm-8">
    <input readonly class="form-control" id="status" value="<%= model.status %>" />
  </div>
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-2" for="createdAt">createdAt</label>
  <div class="col-sm-8">
    <input readonly class="form-control" id="createdAt" value="<%= model.createdAt %>" />
  </div>
</div>