<div class="form-group row">
  <label class="col-form-label col-sm-2" for="mode">Mode</label>
  <div class="col-sm-8">
    <!-- <input autofocus class="form-control" name="mode" value="<%= model.mode %>" /> -->
    <select name="mode">
      <option value="<%= model.mode %>">"<%= model.mode %>"</option>
      <option value="le tour du Monde">Le tour du Monde</option>
      <option value="le 301">Le 301</option>
      <option value="le Cricket">Le Cricket</option>

    </select>
  </div>
</div>


<div class="form-group row">
  <label class="col-form-label col-sm-2" for="name">Name</label>
  <div class="col-sm-8">
    <input autofocus class="form-control" name="name" value="<%= model.name %>" placeholder="name"/>
  </div>
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-2" for="currentPlayerId">CurrentPlayer_Id</label>
  <div class="col-sm-8">
    <input autofocus class="form-control" name="currentPlayerId" value="<%= model.currentPlayerId %>" placeholder="x"/>
  </div>
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-2" for="status">Status</label>
  <div class="col-sm-8">
    <!-- <input autofocus class="form-control" name="status" value="<%= model.status %>" /> -->
    <select name="status">
      <option value="<%= model.status %>">"<%= model.status %>"</option>
      <option value="draft">Draft</option>
      <option value="started">Started</option>
      <option value="ended">Ended</option>

    </select>
  </div>
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-2" for="createdAt">createdAt</label>
  <div class="col-sm-8">
    <input autofocus class="form-control" type="date" placeholder="yyyy-MM-dd" name="createdAt" value="2020-01-01" min="2020-01-01">
  </div>
</div>
