<div class="form-group row">
  <label class="col-form-label col-sm-2" for="name">Name</label>
  <div class="col-sm-8">
    <input autofocus class="form-control" name="name" value="<%= model.name %>" placeholder="name"/>
  </div>
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-2" for="email">Email</label>
  <div class="col-sm-8">
    <input autofocus class="form-control" type="email" name="email" value="<%= model.email %>" placeholder="Your Email" />
  </div>
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-2" for="gameWin">GameWin</label>
  <div class="col-sm-8">
    <input autofocus class="form-control" type="number" name="gameWin" value="<%= model.gameWin %>" step="1" min="0.00" placeholder="0" />
  </div>
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-2" for="gameLost">GameLost</label>
  <div class="col-sm-8">
    <input autofocus class="form-control" type="number" name="gameLost" value="<%= model.gameLost %>" step="1" min="0.00" placeholder="0" />
  </div>
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-2" for="createdAt">CreatedAt</label>
  <div class="col-sm-8">
    <input autofocus class="form-control" type="date" placeholder="yyyy-MM-dd" name="createdAt" value="2020-01-01" min="2020-01-01">
  </div>
</div>