<!--
<footer>
  <p>&copy; 2020 - Dart Game </p>

  <p>Posted by: Flores Anthony B3A</p>

  <p>Contact information: <a href="mailto:anthony.flores@ynov.com">
    anthony.flores@ynov.com</a>.</p>
</footer> 
-->