<!doctype html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>DART GAME</title>
  <link href="/styles/bootstrap.min.css" rel="stylesheet" type="text/css">
  <script src="/path/to/jquery.js"></script>
  <script src="/path/to/jquery-ui.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.0.slim.min.js"
    integrity="sha384-7WBfQYubrFpye+dGHEeA3fHaTy/wpTFhxdjxqvK04e4orV3z+X4XC4qOX3qnkVC6" crossorigin="anonymous">
  </script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
    integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="/styles/scripts/jquery.table.hpaging.min.js"></script>


  <script src="/assets/styles/scripts/sorttable.js"></script>

</head>


<body>

  <div class="container">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <img src="/images/img.png" height="10%" width="10%" />
      <center>
        <ul class="navbar-nav mr-auto">
          <a class="navbar-brand" href="/"> Dart Game</a>
          <a class="nav-link" href="/about">A propos</a>
          <a class="nav-link" href="/test">Test</a>
          <a class="nav-link" href="/Players">Players</a>
          <a class="nav-link" href="/Games">Games</a>
        </ul>
      </center>
    </nav>