<%- include("_header") -%>

<h1>
    <center>A propos de DART GAME</center>
</h1>
<br>
<p><strong>Énoncé:</strong></p>
<p>Vous avez eu la super idée d'acheter un jeu de fléchettes électroniques pour occuper les pauses
    dans votre boîte. Petit soucis, vous oubliez que Antonin (votre collègue un peu nul et bourrin)
    aurait de grandes chances de le casser en jouant avec. Quelques jours plus tard, ce qui devait
    arrivait arriva, et l'écran du jeu ne fonctionne plus. Vous êtes maintenant obligé de tenir les
    scores à la main.</p>
<p>C'est long et pénible, sans compter les erreurs de calculs. Heureusement vous êtes développeur,
    vous allez pouvoir faire un progamme qui gère les scores pour 3 modes de jeux.</p>
<p>Le TP se divise en 2 parties :</p>

<ul>
    <li> 1ère Partie (Moteur): Gérer le calcul du score avec un programme en CLI (Affichage et input
        du score via le terminal), pour 3 modes de jeu différents. À rendre sur branche engine du
        git. </li>

    <li> 2ème Partie (API): Gérer les inputs via une API REST (Potentiellement utilisable par un
        ESP/Arduino branché au jeu de flechettes) </li>
</ul>


<p> Tips: </p>
<ul>
    <li> Lors de la partie 1, vous pouvez créez votre game engine dans un dossier engine que vous
        pourrez réutiliser sur la partie node. À la racine vous aurez un cli.js qui utilise inquirer et
        qui gère les appels à l'engine </li>
</ul>
<br>
<br>
<h4>1ÈRE PARTIE - MOTEUR</h4>

<ul>
    <li> Vous devez pouvoir choisir entre 2 et N joueurs, ainsi que le mode de jeu, au début de la partie </li>
    <li>Le joueur qui commence est choisi aléatoirement</li>
    <li>La partie doit pouvoir continuer jusqu'à définir l'ordre de l'ensemble des joueurs</li>
    <li>(Bonus) L'ordinateur annonce le nom de chaque joueur au début de son tour</li>
</ul>

<p></p><strong>Contraites techniques:</strong></p>

<ul>
    <li> Le programme doit être écrit en NodeJS </li>
    <li>Accessible entièrement depuis le terminal (astuce: vous pouvez utiliser console.table)</li>
    <li>L'architecture du moteur doit obligatoirement comporter des classes ainsi que des classes
        avec héritage (A vous de choisir l'architecture qui vous semble être la plus adaptée)</li>
    <li>Pour gérer l'input via le terminal, vous pouvez utiliser Inquirer</li>
    <li>Vous pouvez gérer les promesses comme vous le souhaitez</li>
</ul>

<p></p><strong>Contraites techniques:</strong></p>

<ul>
    <li> Le moteur devra gérer trois modes de jeu distincts avec un modèle de données qui leurs sont propres </li>
    <li>La cible est composée de 21 secteur distincts (numérotés de 1 à 20 plus le centre de la cible).
        Chaque secteur (hormis le centre de la cible) est composé de 3 multiplicateurs (x1, x2 et x3).
        Chaque secteur vaut autant de points que son numéro hormis le centre de la cible qui vaut
        25 points. Il possède uniquement un multiplicateur x2. Le moteur devra donc gérer les
        différents secteurs ainsi que leurs multiplicateurs.</li>
    <li>Les trois modes de jeu à gérer sont le 301, le tour du monde et le cricket :</li>
    <ul>
        <li>N*1 - le tour du Monde: Les joueurs lancent à tour de role trois flechettes chacun, en
            visant des secteurs spécifiques en commencant par 1, et en passant au suivant une fois
            que vous l'avez touché. Chaque partie du secteur compte (y compris les doubles et les
            triples). Chaque joueur doit frapper son secteur dans l'ordre croissant. Vous ne pouvez
            donc pas passer au secteur suivant tant que vous n'avez pas atteint celui que vous visez
            actuellement. La première personne à "faire le tour du monde" (atteindre tous les
            numéros, de 1 à 20) est la gagnante. Les multiplicateurs ne sont bien évidemment pas
            pris en compte.</li>
        <li> N*2 - le 301: Chaque joueur commence avec un score initial de 301. Chacun leur tour,
            les joueur vont lancer trois fléchettes afin de baisser leur score. A chaque fléchette, on
            soustrait le score obtenu par la fléchettes du joueur à son score. Les multiplicateurs
            sont pris en compte dans le décompte du score. Le premier joueur qui arrive
            exactement à zéro a gagné. Si un joueur réalise plus de points qu'il n'en reste à
            soustraire, son tour n'est pas pris en compte. Attention, il faut absolument atteindre
            zéro en terminant par un double (On ne peut donc pas finir son tour avec un score égal
            à 1)</li>
        <li>N*3 - le Cricket: Le jeu se joue uniquement en visant les chiffres 15 16 17 18 19 20 et la
            bulle. Le but du jeu est de « fermer » tous ces chiffres ainsi que la bulle en lançant trois
            fois la flèche dans ceux ci. Le gagnant est le premier joueur à avoir fermé tous les
            chiffres visés, en ayant au moins autant de points que les adversaires. Lorsqu’un joueur
            à atteint trois fois un chiffre, celui ci est fermé. La zone des doubles compte pour deux
            tirs, et la zone des triples pour trois tirs. Pour fermer la zone du 20 le joueur peut par
            exemple tirer trois fléchettes dans la zone simple, ou une dans le triple 20. Chaque
            joueur tire à tour de rôle une série de 3 fléchettes, en visant une des zones précitées. Si
            une fléchette atteint une autre zone, aucun point n’est marqué. S’il ferme une zone, et
            qu’un ou plusieurs autres joueurs ne l’ont pas encore fermé, il peut continuer à la viser.
            Chaque tir dans une zone déjà fermée lui rapportera alors autant de points que la
            valeur de la zone. Les adversaires par contre ne peuvent plus marquer de points grâce
            à cette zone. Elle appartient au joueur l’ayant fermé. Si tous les joueurs ont fermés une
            zone, plus personne ne peut y marquer de point.</li>
    </ul>
</ul>
<br>
<br>
<h4>2ÈME PARTIE - API Consigne</h4>

<ul>
    <li>doit être réalisée avec expressJS</li>
    <li>une BDD SQLite ou mongoDB doit être utilisée (à défaut, je vous conseille de commencer
        sans, avec une simple variable qui contiendra tous, cf. la variable db ici : <a
            href="https://gist.github.com/Tronix117/60ee47811c6e7f06c4224c529b9ed12a">GIT</a> )</li>
    <li>La nomenclature ci-dessous doit être respectée.</li>
    <li>Le projet peut-être écrit en JS ou en TS (bonus pour TS si strict: true )</li>
    <li>Séparer les différentes couches logiques dans votre structure (propreté)</li>
    <li>Bonus si des appels sont traités en A JAX</li>
    <li>Pour tester les parties JSON, utilisez Postman</li>



</ul>

<p>Note : <code>` correspond à l'objet { id: x, name: xxx, ... }`</code></p>
<br>
<br>
<br>
<br>
<br>
</div>


</body>

</html>
