<%- include("_header") -%>

<h1>Effacer un Joueur</h1>

<form action="/Players/<%= model.id %>?_method=DELETE" method="post">
  <div class="form-horizontal">

    <%- include("_display") -%>

    <div class="form-group row">
      <label class="col-form-label col-sm-2"></label>
      <div class="col-sm-10">
        <input type="submit" value="Effacer" class="btn btn-default btn-danger" />
        <a class="btn btn-outline-dark cancel" href="/Players">Annuler</a>
      </div>
    </div>
  </div>
</form>

<%- include("_footer") -%>