<%- include("_header") -%>

<h1>Modifier un jeu</h1>

<form action="/Games/<%= model.id %>?_method=PATCH" method="post">

  <div class="form-horizontal">

    <%- include("_editor_game") -%>

    <div class="form-group row">
      <label class="col-form-label col-sm-2"></label>
      <div class="col-sm-10">
        <input type="submit" value="Modifier" class="btn btn-default btn-warning" />
        <a class="btn btn-outline-dark cancel" href="/Games">Annuler</a>
      </div>
    </div>

  </div>
</form>

<%- include("_footer") -%>