<%- include("_header") -%>

<body>

  <div class="container">
    <h1>Liste de Games (<%= model.length %>)</h1>
    <br>
    <table>
      <tr>
        <td>
          <input id="pglmt" placeholder="Page Limit" title="Page Limit" value="10" class="form-control" max="20">
        </td>
        <td>
          <button id="btnApply" class="btn btn-danger">Apply</button>
          -----> Appuyer sur une entête pour filtrer
        </td>
      </tr>
    </table>


    <table id="table1" class="table table-hover">
      <thead>
        <tr>
          <th onclick="sortTable(0)" class="th-sm">game_id</th>
          <th onclick="sortTable(1)" class="th-sm">mode</th>
          <th onclick="sortTable(2)" class="th-sm">name</th>
          <th onclick="sortTable(3)" class="th-sm">currentPlayerId</th>
          <th onclick="sortTable(4)" class="th-sm">status</th>
          <th onclick="sortTable(5)" class="th-sm">createdAt</th>
          <th onclick="sortTable(6)" class="d-print-none">
            <a class="btn btn-sm btn-success" href="/Games/new">Ajouter</a>
          </th>
        </tr>
      </thead>



      <tbody>
        <% for (const game of model) { %>
        <tr>
          <td><%= game.id %></td>
          <td><%= game.mode %></td>
          <td><%= game.name %></td>
          <td><%= game.currentPlayerId %></td>
          <td><%= game.status %></td>
          <td><%= game.createdAt %></td>

        <td class="d-print-none">
          <a class="btn btn-sm btn-primary" href="/Games/<%= game.id %>">Voir</a>
          <a class="btn btn-sm btn-warning" href="/Games/<%= game.id %>/edit">Modifier</a>
          <a class="btn btn-sm btn-danger" href="/Games/<%= game.id %>/delete">Effacer</a>
        </td>
        <td class="d-print-none">
          <a class="btn btn-sm btn-info" href="/players">Gérer les joueurs</a>
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>

<script>
  function sortTable(n) {
    var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
    table = document.getElementById("table1");
    switching = true;
    dir = "asc";
    while (switching) {
      switching = false;
      rows = table.rows;
      for (i = 1; i < (rows.length - 1); i++) {

        shouldSwitch = false;

        x = rows[i].getElementsByTagName("TD")[n];
        y = rows[i + 1].getElementsByTagName("TD")[n];

        if (dir == "asc") {
          if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {

            shouldSwitch = true;
            break;
          }
        } else if (dir == "desc") {
          if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
            shouldSwitch = true;
            break;
          }
        }
      }
      if (shouldSwitch) {

        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
        switching = true;
        switchcount++;
      } else {

        if (switchcount == 0 && dir == "asc") {
          dir = "desc";
          switching = true;
        }
      }
    }
  }
</script>

<script type="text/javascript">
  $(function () {
    $("#table1").hpaging({
      "limit": 10
    });
  });

  $("#btnApply").click(function () {
    var lmt = $("#pglmt").val();
    if (lmt > 20) lmt = 20
    $("#table1").hpaging("newLimit", lmt);
  });
</script>
</body>
