<%- include("_header") -%>

<br>
<h1 align="center">Bonjour à tous !!</h1>
<br>
<ul class="navbar-nav mr-auto">
    <a class="btn btn-dark" href="/about">A Propos</a>
    <a class="btn btn-danger" href="/test">Test</a>
    <a class="btn btn-warning" href="/Players">Players</a>
    <a class="btn btn-success" href="/Games">Games</a>
</ul>


<%- include("_footer") -%>