<%- include("_header") -%>

<h1> Joueur </h1>
<br>
<form>
  <div class="form-horizontal">

    <%- include("_display") -%>

    <div class="form-group row">
      <label class="col-form-label col-sm-2"></label>
      <div class="col-sm-10">
        <a class="btn btn-outline-dark cancel" href="/Players">Retour</a>
      </div>
    </div>
  </div>
</form>

<%- include("_footer") -%>